.preview-themes {
	position: fixed;
	height: 2rem;
	width: 8rem;
	top: 0;
	left: calc(50% - 2rem);
	z-index: 10000;
}

.preview-theme {
	display: block;
	float: left;
	width: 1rem;
	height: 1rem;
	border: .375rem solid transparent;
}

/*.preview-theme:focus {
	outline: none;
}*/

.preview-color-black-white {
	border-color: #000;
	background-color: #fff;
}

.preview-color-yellow-black {
	border-color: #ffdb67;
	background-color: #000;
}

.preview-color-pink-black {
	border-color: #f8a2d5;
	background-color: #000;
}

.preview-color-blue-black {
	border-color: #9fbbff;
	background-color: #000;
}

/* CSS ADD */
.box-2 {
	width: 100px;
}

.btn {
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 250px;
	cursor: pointer;
}

.btn-two {
	color: #FFF;
	transition: all 0.5s;
	position: relative;
}

.btn-two span {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
}

.btn-two::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 1px solid rgba(255, 255, 255, 0.2);
	background-color: rgba(255, 255, 255, 0.1);
}

.btn-two::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 1px solid rgba(255, 255, 255, 0.2);
	background-color: rgba(255, 255, 255, 0.1);
}

.btn-two:hover::before {
	transform: rotate(-45deg);
	background-color: rgba(255, 255, 255, 0);
}

.btn-two:hover::after {
	transform: rotate(45deg);
	background-color: rgba(255, 255, 255, 0);
}

.avatar {
	height: 200px;
	position: relative;
	width: 200px;
}

@keyframes cycle-colors {
	0% {
		border-color: hsl(0, 100%, 50%);
	}

	25% {
		border-color: hsl(90, 100%, 50%);
	}

	50% {
		border-color: hsl(180, 100%, 50%);
	}

	75% {
		border-color: hsl(270, 100%, 50%);
	}

	100% {
		border-color: hsl(360, 100%, 50%);
	}
}

@keyframes pulse {
	to {
		opacity: 0;
		transform: scale(1);
	}
}

.avatar::before,
.avatar::after {
	position: absolute;
	top: 0;
	left: 0;
	animation: pulse 2s linear infinite;
	border: #fff solid 8px;
	border-radius: 9999px;
	box-sizing: border-box;
	content: ' ';
	height: 10rem;
	opacity: .6;
	transform: scale(0.714);
	width: 10rem;
	z-index: 1;
}

.avatar::after {
	animation-delay: 1s;
}

.avatar:hover img {
	content: url('../img/logo.png');
}

.avatar:hover::before,
.avatar:hover::after {
	animation: pulse 1s linear infinite, cycle-colors 6s linear infinite;
}

.avatar:hover::after {
	animation-delay: .5s;
}

/* Header */
.large-header {
	position: relative;
	width: 100%;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

#demo-canvas {
	width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    z-index: -1 !important;
    top: 0px !important;
    left: 0px !important;
    pointer-events: none;
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.demo-1 .main-title {
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
}

.main-title .thin {
	font-weight: 200;
}

@media only screen and (max-width : 768px) {
	.demo-1 .main-title {
		font-size: 3em;
	}
}